
<div class="container" style="background-color:rgba(255,255,255,0.50); min-width: max-content;"  >

    </br>
    <div align="center">

        <form id="cityForm" align="center">
            <div class="row " align="center">
                <div class="col-md-2 offset-md-3">
                    <label for="epermit_names"><strong>Giriş yapacak kişiler</strong></label>
                </div>
                <div class="col-md-2">
                    <div class="form-group row " style="width:300px;">
                        <textarea class="form-control" name="epermit_names" id="epermit_names" rows="2"></textarea>
                    </div>
                </div>
            </div>
            <div class="row" align="center">
                <div class="col-md-2 offset-md-3">

                    <label for="exitDate" ><strong>Giriş Tarihi</strong></label>

                </div>
                <div class="col-md-2">
                    <div class="form-group row " id="dp3" style="width:300px;">

                        <input class="form-control datepicker" type="date" name="entryDate" value="" id="entryDate">

                    </div>
                </div>
            </div>

            <div class="row" align="center">
                <div class="col-md-2 offset-md-3">

                    <label for="exitDate" ><strong>Çıkış Tarihi</strong></label>

                </div>
                <div class="col-md-2" >
                    <div class="form-group row " style="width:300px;">

                        <input class="form-control datepicker" name="exitDate" type="date" value="" id="exitDate">

                    </div>
                </div>


            </div>

            <div class="row" align="center">
                <div class="col-md-2 offset-md-3">

                    <label for="enterTime"><strong>Giriş - Çıkış Saati</strong></label>

                </div>
                <div class="col-md-4">

                    <div class="row" align="left">
                        <div class="form-group col-md-5" align="left" >

                            <input align="left" class="form-control" type="time" name="enterTime" value="" id="enterTime">

                        </div>

                        <div  align="right" class="form-group col-md-5">

                            <input class="form-control" type="time" value="" name="exitTime" id="exitTime">

                        </div>
                    </div>

                </div>


            </div>
            <div class="row" align="center">
                <div class="col-md-2 offset-md-3">

                    <label for="exitTime" ><strong>Firma </strong></label>

                </div>
                <div class="col-md-2">
                    <div class="form-group row " style="width:300px;">

                        <select class="form-control" id="entryCompany" name="company">
                            {{#each company}}
                            <option>{{companyName}}</option>
                            {{/each}}
                        </select>

                    </div>
                </div>
            </div>


            <div class="row" align="center">
                <div class="col-md-2 offset-md-3">

                    <label for="rfentryName"><strong>Giriş Nedeni</strong></label>

                </div>
                <div class="col-md-2">
                    <div class="form-group row " style="width:300px;">

                        <select  multiple="multiple" class="form-control" name="rfentry" id="rfentryName">
                            {{#each rfentry}}
                            <option>{{rfentryName}}</option>
                            {{/each}}
                        </select>

                    </div>
                </div>

            </div>


            <div class="row" align="center">
                <div class="col-md-2 offset-md-3">

                    <label for="entryPlaces"><strong>Giris Yapılacak Yerler</strong></label>

                </div>
                <div class="col-md-2" >
                    <div class="form-group row " style="width:300px;">

                        <select  multiple="multiple" class="form-control" name="place" id="entryPlaces">
                            {{#each places}}
                            <option>{{placeName}}</option>
                            {{/each}}
                        </select>

                    </div>
                </div>

            </div>

            <div class="row" align="center">
                <div class="col-md-2 offset-md-3">
                    <label for="accompanyPersonal"><strong>Eşlik Edecek Personel</strong></label>
                </div>
                <div class="col-md-2">
                    <div class="form-group row " style="width:300px;">
                        <input type="text" style="width: 300px" class="form-control " id="accompanyPersonal" name="accompanyPersonal">
                    </div>
                </div>
            </div>


            <div class="row" align="center">
                <div class="col-md-2 offset-md-3">

                    <label for="entryPlaces"><strong>İş Güvenliği Eğitimi Gereklimi</strong></label>

                </div>
                <div class="col-md-3" >
                    <div class="row" align="center">
                            <label class="radio-inline">
                                <input type="radio" name="wsConfirm" value="Evet"><strong>Evet</strong>
                            </label>


                            <label class="radio-inline">
                                <input type="radio" name="wsConfirm" value="Hayir"><strong>Hayır</strong>
                            </label>
                    </div>
                </div>
            </div>
            <div class="row" align="center">
                <div class="col-md-2 offset-md-5">
                    <div class="form-group row " style="width:300px;">
                        <button style="width:300px;" type="submit" class="btn btn-primary btn-block" id="mrb">Oluştur</button>
                    </div>
                </div>
            </div>

        </form>
        </br></br></br></br>
    </div>

</div>
<script>
    $().ready(function() {
        // validate signup form on keyup and submit
        $("#cityForm").validate({
            rules: {
                epermit_names: {
                    required: true,
                    minlength: 7
                },
                entryDate : "required",
                exitDate : "required",
                enterTime : "required",
                exitTime : "required",
                accompanyPersonal :"required",
                company:"required",
                rfentry:"required",
                place:"required"
            },
            messages: {
                place:"Seçim Yapmak Zorunludur",
                company:"Seçim Yapmak Zorunludur ",
                rfentry:"Seçim Yapmak Zorunludur",
                accompanyPersonal:"Personel İsmi Giriniz",
                epermit_names:{
                    required:"İsimler Bos Bırakılamaz",
                    minlength:"İsim Minimum 7 karakter Olmalıdır"
                },
                entryDate: "Giris Tarihi Zorunludur",
                exitDate: "Çıkış Tarihi Zorunludur",
                enterTime: "Giris Zamanı Zorunludur",
                exitTime: "Çıkış Zamanı Zorunludur"
            }
        });
    });
</script>
<script language="JavaScript" type="text/javascript">
    $(document).ready(function(){
        var date =new Date();
        document.getElementById('entryDate').min = formatDate2(date,0);

        $('input[id="entryDate"]').change(function(){
            totaldue =this.value;
            document.getElementById('exitDate').min = totaldue;
            document.getElementById('exitDate').max = ChangeDate(totaldue);
        });
    });
</script>