
<div class="col-md-12 mt-5 text-center">
    <h2 style="color:#f8ffd0;" class="animated tada">İş Güvenliği Onayı Bekleyenler</h2></br>
    <table class="table table-hover table-light mt-2 text-center">
        <thead class="thead-light">
        <tr class="bg-primary">
            <th>Girecek Kişiler</th>
            <th>Giriş Tarihi</th>
            <th>Çıkış Tarihi</th>
            <th>Firma</th>
            <th>Eşlik Edecek Personel</th>
            <th>Onayla</th>
        </tr>
        </thead>
        <tbody>
        {{#each cities}}

        <tr>
            <td>
                <span class="normalModeElement">{{epermit_names}}</span>
                <input type="text" class="form-control form-control-sm text-center cityEditInput editModeElement" style="display: none" value="{{companyName}}">
            </td>
            <td>
                <span class="normalModeElement">{{entryDate}}</span>
                <input type="text" class="form-control form-control-sm text-center cityEditInput editModeElement" style="display: none" value="{{companyName}}">
            </td>
            <td>
                <span class="normalModeElement">{{exitDate}}</span>
                <input type="text" class="form-control form-control-sm text-center cityEditInput editModeElement" style="display: none" value="{{companyName}}">
            </td>
            <td>
                <span class="normalModeElement">{{entryCompany.companyName}}</span>
                <input type="text" class="form-control form-control-sm text-center cityEditInput editModeElement" style="display: none" value="{{companyName}}">
            </td>
            <td>
                <span class="normalModeElement">{{accompanyPersonal}}</span>
                <input type="text" class="form-control form-control-sm text-center cityEditInput editModeElement" style="display: none" value="{{companyName}}">
            </td>

            <td>
                <button class="btn btn-success btn-sm confirmEntryPermit normalModeElement" data-id="{{epermitId}}">
                    Onayla &nbsp;
                    <i class="fas fa-check"></i>
                </button>

            </td>
        </tr>
        {{else}}
        <tr>
            <td colspan="6">İş Güvenliği Onayı Bekleyen Kayıt Bulunmamaktadır.</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>