<style>
    .error{
        color:red;

    }
    .backgr{

        background-color: rgba(223, 230, 233,0.7);
        padding:20px 20px 50px 20px;
        border: 3px solid rgba(15, 18, 15,0.3);
        border-radius: 20px 20px;
    }
    h2{
        font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
    .fa-lock{
        color:rgba(45, 52, 54,0.9);
    }
    hr{
        border: none;
        height:2px;
        /* Set the hr color */
        color: #673f52; /* old IE */
        background-color: rgba(0, 0, 0, 0.56); /* Modern Browsers */
    }

</style>
<br><br><br>

<div class="container animated zoomIn" id="islem" align="center">
    <div id="loading">
        <span> <i class="fas fa-spinner fa-pulse fa-5x"></i></span>
    </div>
    <div class="col-md-4 backgr">
        <div >
            <img src="http://www.freepngimg.com/download/toyota_logo/4-2-toyota-logo-picture.png" width="90px" height="90px">

            <h2  align="center">Giriş Yap</h2><hr>
            <form align="center" id="signinForm" autocomplete="off" method="post">
                <div class="form-group">
                    <label for="userName"><i class="fas fa-user"></i> &nbsp; Kullanıcı Adı</label>
                    <input type="text" id="userName" class="form-control required" name="username" placeholder="Kullanıcı Adı" />
                </div>

                <div class="form-group">
                    <label for="password"><i class="fas fa-key"></i> &nbsp; Parola&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="password" id="password" class="form-control" name="password" placeholder="Parola" />
                </div>
                        <div align="center" class="custom-control custom-checkbox ">
                            <input align="right" type="checkbox" class="custom-control-input" id="confirm">
                            <label class="custom-control-label" for="confirm">Beni Hatırla</label>
                        </div>
                        <button align="center" type="submit" class="btn btn-primary active"><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Giriş</button>



            </form>
        </div>
    </div>
</div>




<script>
    $().ready(function() {
        // validate signup form on keyup and submit
        $("#signinForm").validate({
            rules:{
                username:{
                    required:true,
                    min:6,
                    max:20
                },
                password:{
                    required:true,
                    min:8,
                    max:20
                }
            },
            messages:{
                username:{
                    required:"Kullanıcı Adı Boş Bırakılamaz",

                },
                password:{
                    required:"Parola Adı Boş Bırakılamaz"
                }
            }
        });
    });

</script>
<script language="javascript" type="text/javascript">

    $(window).unload(function() {
        var element = document.getElementById('islem');
        element.classList.add("lightSpeedOut");
        alert("casca");
    });
    $( document ).ready(function() {
        $('#loading').hide();
    });
    $(selector).load(function() {
            $('#loading').hide();
    });

</script>