<link rel="stylesheet" href="app/assets/css/bootstrap.min.css">
<br>
<br>
<div class="container">
    <h2 align =center style="color:#f8ffd0;">Hesap Onayı Bekleyen Kullanıcılar</h2></br>
    <form >
    <div class="row">
        <table class="table table-hover table-light mt-2 text-center">
            <thead class="thead-light">
            <tr>
                <th  >İsim</th>
                <th  >Kullanıcı Adı</th>
                <th  >Hesap Onayı</th>
                <th  >Yetki</th>
                <th  >Kaydet</th>
            </tr>
            </thead>

            <tbody>
            {{#each users}}
            <tr>
                <!-- Kullanmıcı Bigileri-->
                <td>{{userName}}</td>
                <td>{{userNickname}}</td>
                <td>
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="confirm" required>
                        <label class="custom-control-label" for="confirm">Onayla</label>

                    </div>
                </td>
                <td>
                    <div class="col-md-6 offset-md-3" align="center">
                        <div class="form-group" align="center" >
                            <select id="authority" class="custom-select" required>
                                <option value="">Yetki Seçin</option>
                                <option value="1">Site Yetkilisi</option>
                                <option value="2">Güvenlik</option>
                                <option value="3">İnsan Kaynakları</option>
                                <option value="4">Yönetici</option>
                                <option value="5">Personel</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td><button class="btn btn-success btn-sm confirm normalModeElement" data-id="{{id}}">Kayıt <i class="fas fa-check"></i></button></td>
            </tr>
            {{else}}

                <!---
                    BOŞ İSE YAPILACAKLAR
                -->

            {{/each}}

            </tbody>

        </table>
    </div>
    </form>
</div>


