<style>
    .danger{
        background-color: rgba(234, 32, 39,0.7);
        color:#ffffff;
    }
    .fa-exclamation-triangle{
        color:#ffffff;
    }
    .time { display:inline-block; height:30px;  text-align:center; max-width:65px; }
    .enter{
        background-color:rgba(0, 148, 50,0.2);
    }
    .exit{
        background-color:rgba(234, 32, 39,0.2);
    }
    .ws{
        background-color: rgba(255, 0, 0,0.20);
        pointer-events: none;

    }
</style>


<div class="col-md-12 mt-5 text-center">
    <h2 style="color:#f8ffd0;" class="animated tada">Giriş İzni Kontrol</h2></br>
    <div class="container">
        <div class="row">

            <div align="center"  class="col-md-3 offset-1 text-center"><label align="center" style="color:#f8ffd0; margin-top:3px;" for="entryPlaceId">Firma Seçiniz</label></div>
            <div  class="col-md-2" align="center" >
                <div style="width: 250px;" class="form-group ">
                    <select class="form-control" id="entryPlaceId">
                        <option value="">Firma Seçiniz</option>
                        {{#each companies}}
                        <option value="{{companyName}}">{{companyName}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="col-md-2 offset-1" align="center">
                <form  id="cityForm" class="form-inline mb-2">
                    <button align="center" type="submit" class="btn btn-primary">Kaydet</button>
                </form>
            </div>
        </div>
    </div>

</div>

<table class="table table-hover table-light mt-2 text-center">

    <thead class="thead-light">
    {{#each searchData}}
    {{#if entryDate}}
    <tr>
    </tr>
    {{/if}}
    </thead>
    <tbody>
    {{#control wsEducation}}
    <tr id="searchTable">
        {{/control}}
        <td>
            {{epermit_names}}
        </td>
        <td>
            <div class="form-group row">
                <input  type="text" class="time standard form-control col-md-6 enter enterId" value="{{enterTime}}" data-id="{{epermitId}}" id="enterTime0">
                <input type="text" class="time standard form-control col-md-6 exit exitId" value="{{exitTime}}" data-id="{{epermitId}}" id="exitTime0">
            </div>
        </td>
        <td >
            <div class="form-group row">
                <input type="text" class="time standard form-control enter enterId" value="{{enterTime}}" data-id="{{epermitId}}" id="enterTime1">
                <input type="text" class="time standard form-control exit exitId" value="{{exitTime}}" data-id="{{epermitId}}" id="exitTime1">
            </div>
        </td>

        <td>
            <div class="form-group row">
                <input type="text" class="time standard form-control col-md-6 enter enterId" value="{{enterTime}}" data-id="{{epermitId}}" id="enterTime2">
                <input type="text" class="time standard form-control col-md-6 exit exitId" value="{{exitTime}}" data-id="{{epermitId}}" id="exitTime2">
            </div>
        </td>

        <td>
            <div class="form-group row">
                <input type="text" class="time standard form-control col-md-6 enter enterId" value="{{enterTime}}" data-id="{{epermitId}}" id="enterTime3">
                <input type="text" class="time standard form-control col-md-6 exit exitId" value="{{exitTime}}" data-id="{{epermitId}}" id="exitTime3">

            </div>
        </td>

        <td>
            <div class="form-group row">
                <input type="text" class="time standard form-control col-md-6 enter enterId" value="{{enterTime}}" data-id="{{epermitId}}" id="enterTime4">
                <input type="text" class="time standard form-control col-md-6 exit exitId" value="{{exitTime}}" data-id="{{epermitId}}" id="exitTime4">


            </div>
        </td>

        <td>
            <div class="form-group row">
                <input type="text" class="time standard form-control col-md-6 enter enterId" value="{{enterTime}}" data-id="{{epermitId}}" id="enterTime5">
                <input type="text" class="time standard form-control col-md-6 exit exitId" value="{{exitTime}}" data-id="{{epermitId}}" id="exitTime5">


            </div>
        </td>
        <td>
            <div class="form-group row">
                <input type="text" class="time standard form-control col-md-6 enter enterId" value="{{enterTime}}" data-id="{{epermitId}}" id="enterTime6">
                <input type="text" class="time standard form-control col-md-6 exit exitId" value="{{exitTime}}" data-id="{{epermitId}}" id="exitTime6">

            </div>
        </td>

    </tr>
    {{else}}
    <tr>
        <td class="danger" colspan="12"><i class="fas fa-exclamation-triangle"></i> &nbsp;Kayıt Bulunmamaktadır.</td>
    </tr>
    {{/each}}
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function() {
        $('.standard').clockTimePicker();

    });
</script>