<div class="col-md-12 mt-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-3" align="right">

            </div>
            <div  class="col-md-5" align="center" >
                <label for="entryPlaceId"><h5 style="color:#f8ffd0;">Firma Seçiniz</h5></label>
                <div style="width: 250px;" class="form-group mx-sm-3 mb-2">
                    <select  class="form-control" id="entryPlaceId">
                        {{#each companies}}
                        <option>{{companyName}}</option>
                        {{/each}}
                    </select>
                </div>


            </div>
            <div class="col-md-4"  style="margin-top: 40px;" >
                <form id="cityForm" class="form-inline mb-2">
                    <button align="center" type="submit" class="btn btn-primary">Kaydet</button>
                </form>
            </div>
        </div>
    </div>

</div>

<table class="table table-hover table-light mt-2 text-center">

<thead class="thead-light">
        <tr>
            <th scope="col">Giriş Yapacak Kişiler</th>
            <th scope="col" id ="day0">date</th>
            <th scope="col=" id="day1">date</th>
            <th scope="col" id="day2">date</th>
            <th scope="col" id="day3"></th>
            <th scope="col" id="day4">date</th>
            <th scope="col" id="day5">09/07/2018</th>
            <th scope="col" id="day6">10/07/2018</th>
        </tr>
        </thead>
        <tbody>
        {{#each cities}}

        <tr>
            <td>
                {{epermit_names}}
            </td>

            <td>
                <div class="form-group row">
                    <div class="col-6">
                        <input  type="time" value="" id="exitTime">
                    </div>
                    <div class="col-6">
                        <input type="time" value="" id="exitTime2">
                    </div>
                </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>


        </tr>
        {{else}}
        <tr>
            <td colspan="12">Kayıt Bulunmamaktadır.</td>
        </tr>
        {{/each}}
        </tbody>
    </table>



<script>
    for(var i = 0;i<7;i++)
    document.getElementById("day"+i).innerHTML=formatDate(date,i);
</script>
