<div class="col-md-12 mt-5 text-center">
    <h2 style="color:#f8ffd0;" class="animated tada">Giriş İzni Kontrol</h2></br>
    <div class="container">
        <div class="row">

            <div align="center"  class="col-md-3 offset-1 text-center"><label align="center" style="color:#f8ffd0; margin-top:3px;" for="entryPlaceId">Firma Seçiniz</label></div>
            <div  class="col-md-2" align="center" >
                <div style="width: 250px;" class="form-group ">
                    <select class="form-control" id="entryPlaceId">
                        <option value="">Firma Seçiniz</option>
                        {{#each companies}}
                        <option value="{{companyName}}">{{companyName}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="col-md-2 offset-1" align="center">
                <form  id="cityForm" class="form-inline mb-2">
                    <button align="center" type="submit" class="btn btn-primary">Kaydet</button>
                </form>
            </div>
        </div>
    </div>

</div>

<table class="table table-hover table-light mt-2 text-center">

<thead class="thead-light">
        <tr>
            <th scope="col">Giriş Yapacak Kişiler</th>
            <th scope="col" id ="day0">date</th>
            <th scope="col=" id="day1">date</th>
            <th scope="col" id="day2">date</th>
            <th scope="col" id="day3"></th>
            <th scope="col" id="day4">date</th>
            <th scope="col" id="day5">09/07/2018</th>
            <th scope="col" id="day6">10/07/2018</th>
        </tr>
        </thead>
        <tbody>
        {{#each searchData}}
        <tr id="searchTable">
            <td>
                {{epermit_names}}
            </td>
            <td >
                <div class="form-group row">
                    <input  class="form-control col-md-6 editId" type="time"  data-id="{{epermitId}}" id="enterTime" >
                    <input  class="form-control col-md-6 editId" type="time"  data-id="a" id="exitTime">
                </div>
            </td>

            <td>
                <div class="form-group row">
                    <button class="btn btn-success normalModeElement">  <i class="far fa-clock"></i></button>

                    <button class="btn btn-danger normalModeElement">  <i class="far fa-clock"></i></button>

                </div>
            </td>

            <td>
                <div class="form-group row">
                    <button class="btn btn-success normalModeElement">  <i class="far fa-clock"></i></button>

                    <button class="btn btn-danger normalModeElement">  <i class="far fa-clock"></i></button>
                </div>
            </td>

            <td>
                <div class="form-group row">
                    <button class="btn btn-success normalModeElement">  <i class="far fa-clock"></i></button>

                    <button class="btn btn-danger normalModeElement">  <i class="far fa-clock"></i></button>

                </div>
            </td>

            <td>
                <div class="form-group row">
                    <button class="btn btn-success normalModeElement">  <i class="far fa-clock"></i></button>

                    <button class="btn btn-danger normalModeElement">  <i class="far fa-clock"></i></button>

                </div>
            </td>
            <td>
                <div class="form-group row">
                    <button class="btn btn-success normalModeElement">  <i class="far fa-clock"></i></button>

                    <button class="btn btn-danger normalModeElement">  <i class="far fa-clock"></i></button>

                </div>
            </td>
            <td>
                <div class="form-group row">
                    <button class="btn btn-success normalModeElement">  <i class="far fa-clock"></i></button>
                    <button class="btn btn-danger normalModeElement">  <i class="far fa-clock"></i></button>
                </div>
            </td>
        </tr>
        {{else}}
        <tr>
            <td colspan="12">Kayıt Bulunmamaktadır.</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
<script>
       $( document ).ready(function() {
        //tarihlerin 1 haftalık düzgün sıralanması için
        for(var i = 0;i<7;i++)
            document.getElementById("day"+i).innerHTML=formatDate(date,i);
    });
</script>
