<style>
    hr {
        border: none;
        height: 4px;
        /* Set the hr color */
        color: #673f52; /* old IE */
        background-color: rgba(225, 219, 219, 0.56); /* Modern Browsers */
    }
    h1{
        color:#ffffff;
        margin-top: 15px;
        font-family: sans-serif;
    }
    .btn-lg {
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 10px;
        width:150%;    //Specify your width here
    }

</style>
<br>

<div class="row" align="center">
    <div class="col-md-2 offset-md-1">
        <img src="http://www.freepngimg.com/download/toyota_logo/4-2-toyota-logo-picture.png" width="90px" height="90px">


    </div>


    <div class="col-md-6" align="center">
        <h1 class="animated fadeIn" align="center"><i>Let's Go Places</i></h1>
    </div>

</div>


<br>
<hr>
<br>
<div class="row" align="center">
    <div class="offset-md-1">
        <a align="center" href="#login" onclick="changeClass()" class="btn btn-primary btn-lg active animated bounceInDown" role="button" ><i class="fas fa-sign-in-alt"></i>&nbsp; Giriş Yap</a>
    </div>
</div>
<br>
<div class="row">
    <div class="offset-md-1" align="center">
        <a  href="#register" class="btn btn-success btn-lg active animated bounceInUp" role="button" > <i class="fas fa-plus"></i>  &nbsp;Kayıt Ol	&nbsp;</a>
    </div>
</div>


<script language="JavaScript" type="text/javascript">
    function changeClass() {
        $(this).toggleClass('btn btn-primary btn-lg active animated lightSpeedOut');
    };

</script>